﻿html,body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
    color: #424242;
    line-height: 1.5;
}
._FillHorizontal{
    display: flex;
    flex: 1 0 0px;
}
.__PageWrapDesktop{
    max-width: 1190px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}
.__Header{
    clear: both;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #3F51B5;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #FFF;
}
    .__Header .__PageWrapDesktop{
        display: flex;
        flex-direction: row;
    }
.__Main{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
    .__Main .__PageWrapDesktop{
        display: flex;
        flex-direction: column;
    }
ul{
    margin-left: 20px;
    list-style-type: disc;
}